rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSyndic() {
      return request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.profile == 'syndic';
    }
    function isAuth() {
      return request.auth != null;
    }
    match /users/{userId} {
      allow read: if isAuth();
      allow write: if isAuth() && (request.auth.uid == userId || isSyndic());
      allow delete: if isSyndic();
    }
    match /votes/{id}     { allow read, write: if isAuth(); allow delete: if isSyndic(); }
    match /incidents/{id} { allow read, write: if isAuth(); allow delete: if isSyndic(); }
    match /documents/{id} { allow read, write: if isAuth(); allow delete: if isSyndic(); }
    match /annonces/{id}  { allow read, write: if isAuth(); allow delete: if isSyndic(); }
    match /charges/{id}   { allow read, write: if isAuth(); allow delete: if isSyndic(); }
    match /depenses/{id}  { allow read, write: if isAuth(); allow delete: if isSyndic(); }
    match /lots/{id}      { allow read, write: if isAuth(); allow delete: if isSyndic(); }
    match /baux/{id}      { allow read, write: if isAuth(); allow delete: if isSyndic(); }
    match /config/{id}    { allow read, write: if isAuth(); }
    match /demandes/{id} {
      allow create: if true;
      allow read, write: if isAuth();
      allow delete: if isSyndic();
    }
    match /historique_transferts/{id} {
      allow read, write: if isAuth();
      allow delete: if isSyndic();
    }
    match /conversations/{convId} {
      allow read, write: if isAuth() &&
        request.auth.uid in resource.data.participants;
      allow create: if isAuth();
    }
    match /conversations/{convId}/messages/{msgId} {
      allow read, write: if isAuth();
    }
    match /carnet_entretien/{id} {
      allow read: if isAuth();
      allow write: if isAuth() && (isSyndic() ||
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.profile == 'conseil');
      allow delete: if isSyndic();
    }
    match /verifications/{id} {
      allow read, write: if true;
    }
    match /messages_contact/{id} {
      allow create: if true;
      allow read, write: if isAuth();
      allow delete: if isSyndic();
    }
  }
}